@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*
font-family: 'Roboto', sans-serif; 
●Tamaños Tipográficos
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px*/

:root{
    --colorAmarillo: #EAC926;
    --colorAzul: #03264C;
    --colorCeleste: #1259c3;
    --colorGrisOscuro: #666;
    --colorGrisClaro: #ebebeb;
    --colorVerde: #39b54a;
}

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body header{
    background-color: var(--colorAmarillo);
    padding-left: 10px;
}

body header div{
    padding-left: 10px;
}

body header div input.buscador{
    font-size: 1rem;
    width: 50%;
}
body header i{
    padding-left: 10px;
}

body header div.comprar{
    text-align: center;
}
body header div h4{
    display: inline;
}
body header nav{
    padding: 10px 0;
}
body header nav ul{
    font-size: 12px;
    text-decoration: none;
}
body header nav ul.registro{
    margin-top: 20px;
}
body header div.buguer-menu{
    padding: 5px 0;
    text-align: center;
}
#menu{
    background-color: var(--colorCeleste);
    padding: 10px 10px;
    color: white;
}
